<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="hemp-debug" content="true">
		<meta name="hemp-console" content="true">
		<!-- <link rel="stylesheet" href=""> -->
		 <script src="/js/htmx.js"></script>
		 <script src="/js/ws.js"></script>
	</head>
	<body>
		<header class="overview"></header>
		<main class="app">
			<aside class="preview"></aside>
			<div class="scenes"></div>
			<div class="audio"></div>
		</main>
		 <footer class="status"></footer>
	</body>
</html>